.form-register{
    border: solid 0.5px rgb(150, 147, 147); 
    border-radius: 2px;
    text-align: center;
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 500px;
    align-items: center;
    min-width: 200px;
    max-width: 400px;
}

.form-register > img{
    flex: 1 0 100px;
    max-width: 72px;
}

.F5_logo{
    display: block;
    width: 72px; 
    height: 72px;
    margin: 0 auto 0;
    padding: 5px;    
}

.form-control{
    margin-top: 2%;
    margin-bottom: 4%;
}

.btn{
    margin-bottom: 5%;
    justify-content: center;
    text-align: center;
}

.new_users{
    display: inline-block;
    padding: 5px;
    text-align: center;
}

.signup_link{
    display: inline-block;
}

.cancel-line{
    text-align: center;
    justify-content: center;
    margin-left: 39%;
    margin-right: 20%;
    align-self: auto;
    position: relative;
}